---
import SkillLogo from '@/components/custom/SkillLogo.astro';
import type { Skill } from '@/data/skills';

interface Props {
  title: string;
  description?: string;
  skills: Skill[];
}

const { title, description, skills } = Astro.props;
---

<h3 class="text-lg font-semibold mt-8">{title}</h3>
<p class="text-muted-foreground text-sm">{description}</p>
<div class="flex flex-wrap gap-2 sm:gap-3 mt-2">
  {
    skills && skills.map(skill => (
      <SkillLogo classLogo={skill.class} title={skill.name} />
    ))
  }
</div>
