---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import azbagasPhoto from '@/assets/images/azbagas-photo.jpg';
import Separator from '@/components/custom/Separator.astro';
import { featuredBackendSkills, featuredToolsSkills } from '@/data/skills';
import SkillList from '@/components/custom/SkillList.astro';
import ProjectList from '@/components/custom/ProjectList.astro';
import SectionHeading from '@/components/custom/SectionHeading.astro';
import PostList from '@/components/custom/PostList.astro';
import ViewAllButton from '@/components/custom/ViewAllButton.astro';
import Bookshelf from '@/components/custom/Bookshelf.astro';
---

<BaseLayout pageTitle="AzBagas - Personal Blog">
  <section
    class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4 mt-10 sm:mt-20 lg:mt-28"
  >
    <div class="sm:w-3/5">
      <h1 class="text-4xl lg:text-5xl font-bold">Hello, I'm Bagas.</h1>
      <p class="mt-6">
        A Computer Science student based in Indonesia with a deep focus on <span
          class="font-semibold">backend engineering</span
        >. I enjoy turning complex logic into efficient and maintainable code.
        <p class="mt-4">
          Explore my <a href="/projects" class="font-semibold underline"
            >previous projects</a
          > or discover more <a href="/about" class="font-semibold underline"
            >about me</a
          >.
        </p>
      </p>
    </div>
    <div class="flex justify-center mt-6 sm:mt-0">
      <Image
        src={azbagasPhoto}
        alt="Azbagas photo"
        class="rounded-lg w-48 lg:w-60"
      />
    </div>
  </section>
  <Separator />
  <section>
    <SectionHeading
      title="Tech Stack"
      description="My core competencies and the technologies I've mastered."
    />

    <h3 class="text-lg font-semibold mt-8">Backend</h3>
    <SkillList skills={featuredBackendSkills} />
    <h3 class="text-lg font-semibold mt-8">Tools and Platforms</h3>
    <SkillList skills={featuredToolsSkills} />
  </section>
  <Separator />
  <section>
    <SectionHeading
      title="Recent Projects"
      description="A collection of my latest projects."
    />

    <ProjectList />
    <ViewAllButton link="/projects" text="View All Projects" />
  </section>
  <Separator />
  <section>
    <SectionHeading
      title="Posts"
      description="Technical notes and personal insights."
    />

    <PostList />
    <ViewAllButton link="/blog" text="View All Posts" />
  </section>
  <Separator />
  <section>
    <SectionHeading
      title="Bookshelf"
      description="A list of books that have shaped my perspective on life."
    />

    <Bookshelf />
  </section>
</BaseLayout>
