---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import azbagasPhoto from '@/assets/images/azbagas-photo.jpg';
import Separator from '@/components/custom/Separator.astro';
import skillBackendLogos from '@/assets/skills/skillBackendLogos.json';
import skillToolLogos from '@/assets/skills/skillToolLogos.json';
import SkillSection from '@/components/custom/SkillSection.astro';
import ProjectList from '@/components/custom/ProjectList.astro';
import SectionHeading from '@/components/custom/SectionHeading.astro';
import PostList from '@/components/custom/PostList.astro';
---

<BaseLayout pageTitle="AzBagas - Personal Blog">
  <section
    class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4 mt-10 sm:mt-20 lg:mt-28"
  >
    <div>
      <h1 class="text-4xl lg:text-5xl font-bold">Hello, I'm Bagas.</h1>
      <p class="mt-6">
        I'm a Computer Science student based in Indonesia. <br
          class="hidden sm:block"
        />
        I'm passionate about <span class="font-semibold">backend engineering</span>. <br
          class="hidden sm:block"
        />
        <p class="mt-4">
          Explore my <a href="/projects" class="font-semibold underline"
            >previous projects</a
          > or discover more <a href="/about" class="font-semibold underline"
            >about me</a
          >.
        </p>
      </p>
    </div>
    <div class="flex justify-center mt-6 sm:mt-0">
      <Image
        src={azbagasPhoto}
        alt="Azbagas photo"
        class="rounded-lg w-48 lg:w-60"
      />
    </div>
  </section>
  <Separator />
  <section>
    <SectionHeading
      title="My Skills"
      description="Here are the skills I've mastered along my journey."
    />

    <SkillSection title="Backend" skills={skillBackendLogos} />
    <SkillSection title="Tools and Platforms" skills={skillToolLogos} />
  </section>
  <Separator />
  <section>
    <SectionHeading
      title="Recent Projects"
      description="Here are the latest projects I've worked on."
    />

    <ProjectList />
  </section>
  <Separator />
  <section>
    <SectionHeading
      title="Latest Posts"
      description="Here are the latest posts I've written."
    />

    <PostList />
  </section>
</BaseLayout>
