---
const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
---

<div id="disqus_thread"></div>

<script is:inline define:vars={{ canonicalURL }}>
  var disqus_config = function () {
    this.page.url = canonicalURL;
    this.page.identifier = window.location.pathname;
  };

  (function () {
    var d = document,
      s = d.createElement('script');
    s.src = 'https://azbagas.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();

  const observer = new MutationObserver((mutations) => {
    mutations.forEach((mutation) => {
      if (mutation.attributeName === 'class') {
        // Give the UI a millisecond to settle, then reload Disqus
        if (window.DISQUS) {
          window.DISQUS.reset({ reload: true });
        }
      }
    });
  });

  observer.observe(document.documentElement, { attributes: true });
</script>
<noscript
  >Please enable JavaScript to view the <a
    href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a
  ></noscript
>
